.ksHotkeyExdKeyBinding
{
    display: flex;
    justify-content: space-between;

    &Icon
    {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30rem;
        margin-left: 10rem;
        margin-right: 5rem;

        img
        {
            width: 24ren;
            height: 24rem;
        }
    }

    &Contents
    {
        flex-grow: 1;
    }
}
